* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 460px;
	margin: 0 auto;
}

.container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 300px;
}
.currency {
	display: flex;
	width: 80%;
	justify-content: space-between;
}
.currency select {
	padding: 10px;
	border-radius: 15px;
}
.currency select:focus {
	outline: none;
}
.currency input {
	font-size: 1.2rem;
	border: 3px solid black;
}
.swap {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: 20px;
	padding: 25px;
}
.swap a {
	color: black;
}
.swap p {
	color: darkgreen;
}
